<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/fd2348cb33.js" crossorigin="anonymous"></script>
  <title>Random Password Generator</title>
</head>

<body style="background-color: #323940;">
  <nav class="navbar navbar-DARK mb-5" style="background-color: #6a757e;">
    <div class="container-fluid">
      <a class="navbar-brand" href="http://localhost:3000/" style="color: white;">Random Password Generator</a>
    </div>
  </nav>

  {{{body}}}
  <script src="/javascripts/bootstrap.bundle.min.js"></script>
</body>

</html>